# Semua rule di bawah ini sudah dikomentari.
# Jika ingin diaktifkan kembali, hapus tanda `#` di depan barisnya.

# Ignore folder Katalon hasil build
# bin/
# Libs/
# #Reports/
# .settings/
# build/

# Ignore test reports & logs
# report/
# #Reports/
# *.log
# *.tmp

# Ignore test data temporary
# #*.xlsx
# *.csv

# Ignore Katalon keywords (kalau tidak mau dipush)
# Keywords/

# Optional: kalau ada config environment lokal
# .settings/
# .project
# *.iml
# .idea/
# .vscode/
